.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  position: relative;
  overflow: hidden;
  background-color: #fefefe;
}

.home-left {
  width: 50%;
  z-index: 2;
}

.role {
  color: #fbbf24;
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  font-size: 42px;
  margin: 10px 0;
  font-weight: 800;
  color: #222;
}

.subtext {
  color: #444;
  font-size: 16px;
  margin: 20px 0;
  max-width: 90%;
}

.home-buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
}

.btn.yellow {
  background-color: #fbbf24;
  color: #fff;
  border: none;
}

.btn.outline {
  border: 2px solid #222;
  color: #222;
  background-color: transparent;
}

.home-right {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.yellow-shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 130%;
  height: 130%;
  background-color: #fbbf24;
  clip-path: ellipse(82% 100% at 100% 0%);
  z-index: 0;
}

.profile-img {
  position: relative;
  z-index: 1;
  max-width: 60%;
  object-fit: cover;
  margin-right: 40px;
}
